<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kosmo.a_project_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ClubMemberAppearance_Adapter"></activity>
        <activity android:name=".ClubMemberPoint_Adapter" />
        <activity android:name=".ClubMemberAssist_Adapter" />
        <activity android:name=".ClubMemberGoalRank_Adapter" />
        <activity android:name=".Tactic_WebView" />
        <activity android:name=".ClubTactic_Adapter" />
        <activity android:name=".GameMember_Adapter" />
        <activity android:name=".ClubMemberDialog" />
        <activity android:name=".ClubFormationView" />
        <activity android:name=".GameMemberList" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="ad054b2497f44138c09fded292f22a9e" />

        <activity android:name=".ClubMatchView" />
        <activity android:name=".ClubMatch_Adapter" />
        <activity android:name=".ClubMember_Adapter" />
        <activity android:name=".ClubView" />
        <activity android:name=".ClubList_Adapter" />
        <activity android:name=".ChargeActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".ManagerActivity" />
        <activity android:name=".MatchActivity" />
        <activity android:name=".ClubActivity" />
        <activity android:name=".WebviewActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="locked"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Loading" />
        <activity android:name=".MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>